Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

Given 1:
number1 = 20
number2 = 30
Expected Output:
The result is 600

Given 2:
number1 = 40
number2 = 30
Expected Output:
The result is 70

In [ ]:
def multisum(num1, num2):
    multi = num1 * num2
    summ = num1 + num2 
    if multi <=1000:
        print(multi)
    else:
        print(summ)

multisum(20,30)

Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

Expected Output:

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [ ]:
def sum_current_previous_number(value_range):
    print(f'Printing current and previous number sum in a range({value_range})')
    for num in range(value_range):
        current_number = num
        if current_number !=0:
            previous_number = current_number -1
        else:
            previous_number = 0
        summ = current_number + previous_number
        print(f'Current Number {current_number} Previous Number {previous_number} Sum: {summ}')

In [ ]:
sum_current_previous_number(10)

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Expected Output:

Orginal String is  pynative
Printing only even index chars
p
n
t
v

In [ ]:
def Even_index_number(enter_string):
    output =enter_string[0::2]
    for val in output:
        print(f"'{val}'", end=',')
Even_index_number('pynative')

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.
Note: n must be less than the length of the string.

In [ ]:
def remove_n_character(str_value, count_val):
    if count_val <= len(str_value):
        new_string = str_value[count_val::]
        print(new_string)
    else:
        'Index is out of range'

remove_n_character('pynative',4)

Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Given:

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
Expected Output:

Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False

In [ ]:
def check_first_last_number_list(value):
    if value[0] == value[-1]:
        return True
    else:
        False

check_first_last_number_list([10,20,30,40,10])

Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

Expected Output:

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [ ]:
def devisible_by5(data):
    for value in data:
        if value % 5 ==0:
            print(value, end=' ')
        else:
            pass
    else:
        pass

devisible_by5([10,20,33,46,55])

Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

Given:

str_x = "Emma is good developer. Emma is a writer"
Expected Output:

Emma appeared 2 times

In [ ]:
def count_of_substring_repeater(data,substring_val):
    cnt = data.count(substring_val)
    return cnt

str_x = "Emma is good developer. Emma is a writer"
count_of_substring_repeater(str_x, 'Emma')

# def count_of_substring_repeater(data,substring_val):
#     data = data.split(' ')
#     count = 0
#     for value in data:
#         if value == substring_val:
#             count+=1
#     return count
# str_x = "Emma is good developer. Emma is a writer"

# count_of_substring_repeater(str_x, 'Emma')

Exercise 8: Print the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [ ]:
def pattern_number_triangle(length):
    for len1 in range(0,length):
        for len2 in range(len1):
            print(len1, end='')
        print('\n', end='')


pattern_number_triangle(6)

Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

Expected Output:

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [ ]:
def Palindrome_number_check(datavalue):
    number = str(datavalue)
    check = int( number[-1] + number[1:-1] + number[0])

    if check == datavalue:
        print(f'Original number {datavalue} Yes. Given number is palindrome number')
    else:
        print(f'Original number {datavalue} No. Given number is not palindrome number')
    
Palindrome_number_check(123)

Exercise 10: Create a new list from two list using the following condition
Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Given:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
Expected Output:

result list: [25, 35, 40, 60, 90]

In [ ]:
def separate_odd_even_list(list1,list2):
    new_list = []
    for value in list1:
        if value %2 !=0:
            new_list.append(value)
    for value1 in list2:
        if value1 %2 ==0:
            new_list.append(value1)
    return new_list
    
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

separate_odd_even_list(list1,list2)

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
def extract_each_element(value):
    while value > 0:
      digit = value % 10
      value = value //10
      print(digit, end=' ')

extract_each_element(7536)

Exercise 12: Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose the taxable income is 45000, and the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [ ]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    x = income - 10000
    tax_payable = x * 10 / 100
else:
    tax_payable = 0
    tax_payable = 10000 * 10 / 100
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

final_tax = tax_value + ((remaining_amount *20)/100)
print(final_tax)

Exercise 13: Print multiplication table from 1 to 10
Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [ ]:
def multiplication_table(value):
    for val1 in range(1,11):
        for val2 in range(1,value+1):
            print(val1 * val2 , end=' ')
        print('\n', end='')

multiplication_table(10)

Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)
* * * * *  
* * * *  
* * *  
* *  
*

In [ ]:
def Half_pyramid_pattern(repitition):
    for j in range(repitition + 1):
        for i in range(repitition):
            print('*', end=' ')
        print('*')
        repitition-=1

Half_pyramid_pattern(4)

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)
Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def exponent(base, exp):
    value = base ** exp
    return value

exponent(5,4)

*****
*   *
*   *
*   *
*****

In [72]:

for i in range(5):
    print('*' , end=' ')
print('\n', end='')
for i in range(4):
    print('*')
for i in range(5):
    print('*' , end=' ')

* * * * *
*
*
*
*
* * * * *